<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ static_url("bower_components/bootstrap/dist/css/bootstrap.min.css") }}">
    <script src="{{ static_url("bower_components/react/react.js") }}"></script>
    <!--script src="{{ static_url("bower_components/react-bootstrap/react-bootstrap.min.js") }}"></script-->
    <script src="{{ static_url("bower_components/react/JSXTransformer.js") }}"></script>
    <script src="{{ static_url("bower_components/jquery/dist/jquery.min.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("src/style.css") }}">
  </head>
  <body>
    <div id="main"></div>
    {% autoescape None %}
    <script type="text/javascript">
        console.log({{ queues_json }});
        var queues_json = {{ queues_json }};
    </script>
    <script type="text/jsx" src="{{ static_url("src/b.jsx") }}"/>
  </body>
</html>
