<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ static_url("bower_components/bootstrap/dist/css/bootstrap.min.css") }}">
    <script src="{{ static_url("bower_components/react/react.js") }}"></script>
    <script src="{{ static_url("bower_components/react-bootstrap/react-bootstrap.min.js") }}"></script>
    <script src="{{ static_url("bower_components/react/JSXTransformer.js") }}"></script>
    <script src="{{ static_url("bower_components/jquery/dist/jquery.min.js") }}"></script>

  </head>
  <body>
    <div id="main"></div>
    <script type="text/jsx" src="{{ static_url("src/b.jsx") }}"/>
  </body>
</html>
